.app__websites {
    display: flex;
    flex-direction: column;
    padding: 5rem 6rem;
}

.app__websites-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2.5rem;
}

.app__websites-heading h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
}

.app__websites-container {
    display: flex;
    flex-direction: row;
}

.app__websites-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 700px) {
    .app__websites-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .app__websites-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 990px) {
    .app__websites-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .app__about-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}